html {
   font-size: 100%;
   box-sizing: border-box;
}

*, *::before, *::after {
   box-sizing: inherit;
}

body {
   margin: 0;
   padding: 0;
   font-family: 'Kumbh Sans', sans-serif;
   font-weight: 400;
   font-size: $font-sm;
   color: $lightGrey;
   line-height: 1.625;
   background: $greyBG url(/images/home/bg-pattern-header.svg) no-repeat;
   background-position: 50% -10.625rem;
   background-size: 150%;
}

.container {
   padding: 0 1.5rem;
}

a, a:visited, a:hover {
   text-decoration: none;
}

h1,
h2 {
   font-size: $h1;
   color: $darkGrey;
}

h3 {
   margin: 0;
   font-size: $font-md;
}

ul,
li {
   list-style-type: none;
   margin: 0;
   padding: 0;
}

// Flexbox
.flex {
   display: flex;

   &-jc-sb {
      justify-content: space-between;
   }

   &-jc-c {
      justify-content: center;
   }

   &-ai-c {
      align-items: center;
   }

   &-fd-c {
      flex-direction: column;
   }
}

// Buttons
button, .button {
   padding: 1.125rem 2.5rem;
   background-color: $brightBlue;
   border: 0;
   border-radius: 50px;
   cursor: pointer;
   font-size: $font-sm;
   font-weight: 700;
}