// Colors
$brightBlue: #5175FF;
$lightBlue: #829CFF;
$lightGrey: #747B95;
$mediumGrey: #333950;
$darkGrey: #25293A;
$orangeRed: #F05B5B;
$white: #FFFFFF;

// Font Sizes
$font-sm: 1rem;
$font-md: 1.125rem;

// Header Sizes
$h1: 2.5rem;