// Colors
$brightBlue: #5175FF;
$lightBlue: #E4EAFF;
$lightGrey: #747B95;
$mediumGrey: #333950;
$darkGrey: #25293A;
$orangeRed: #F05B5B;
$white: #FFFFFF;
$greyBG: #F2F2F2;

// Hover State Colors
$lightBlueHover: #829CFF;

// Font Sizes
$font-sm: 1rem;
$font-md: 1.125rem;
$font-lg: 3.5rem;

// Header Sizes
$h1: 2.5rem;